* {
    --background_color: white;
    --font_color: #000000;
    --main_color: black;
    --complementary_color: #ebebeb;
    --border_style: 3px solid var(--main_color);
}

body {
    margin: 0;
    background-color: var(--background_color);
    font-family: Geneva, Verdana, sans-serif;
    color: var(--font_color);
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

main > * {
    margin: auto;
}

main form, main .result {
    padding: 20px;
    width: 600px;
    background-color: lightgrey;
    border: var(--border_style);
    border-radius: 5px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: inherit;
}

.field:has(> input) {
    align-items: center;
}

.field input, .field textarea {
    background-color: var(--background_color);
    border: var(--border_style);
    border-radius: 5px;
    font-size: 15pt;
    color: var(--font_color);
}

.field input {
    height: 30px;
}

.field input[type="file"] {
    font-size: 11pt;
    padding-top: 8px;
}

.field textarea {
    height: 200px;
}

#solve-button {
    width: 100%;
    grid-column: 1 / span 2;
}

#solve-button:hover {
    cursor: pointer;
    filter: brightness(0.75);
}

.result .field p:last-child {
    border: var(--border_style);
    padding: 10px 0;
    text-align: center;
}

.result table {

    text-align: center;
    border-collapse: collapse;
}

.result__newton{
    background-color: white;
}
.result__lagrange{
    background-color: white;

}
.result__newton-finite{
    background-color: white;
}
.result table td, .result table th {
    background-color: white;
    border: var(--border_style);
    padding: 15px;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.radio-container label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.system {
    display: flex;
    gap: 10px;
}

.system span:first-child {
    font-size: 24pt;
}

.hidden {
    display: none;
}

.interval {
    display: flex;
    justify-content: space-between;
}

.interval input {
    width: 50%;
}

.interval span {
    font-size: 20pt;
}

.result__system-value-vectors {
    background-color: white;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
    white-space: break-spaces;
}
